<div>
    Armor Points: {{formInput systemFields.baseScore value=system.baseScore placeholder=("0")}}
    Major Threshold: {{formInput systemFields.baseMajorThreshold value=system.baseMajorThreshold placeholder=("0")}}
    Severe Threshold: {{formInput systemFields.baseSevereThreshold value=system.baseSevereThreshold placeholder=("0")}}
</div>